.nav{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 70px;
    border: 1px solid orange;
    margin: 0 auto;
}
.nav-logo{
    flex: 1;
    border: 1px solid;
    display: inline-block;
}
.nav-list{
    flex: 8;
    border: 1px solid;
    display: inline-block;
}
.nav-item{
    display: inline-block;
    margin-left: 20px;
}
.nav-extra{
    flex: 3;
    border: 1px solid;
    display: inline-block;
}