*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;;
}
.header .container{
    width: 1500px;

}
.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
}
.nav-item{
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
}
.hero{
    display: flex;
}
.hero-text h1{
    text-align: center;
}